<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<h><a href="{{ url_for('league_view', league=league) }}">League Home</a></h>
<div></div>
<h3>{{ '{0} ({1})'.format(player['name'], player['rating']) }}</h3>
<body>
<p><a href="{{ url_for('graph_ratings', league=league, player_id=player['player_id']) }}">Graph Rating History</a></p>
<p><a href="{{ url_for('match_history', league=league, player_id=player['player_id']) }}">Match History</a></p>
</body>
</html>
